* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 0);
    background-color: black;
    font-family: "Courier New";
}

input {
    border: 2px solid rgb(0, 255, 0);
    outline: none;
    resize: none;
    background-color: black;
    color: rgb(0, 255, 0);
}

img {
    border: 2px solid rgb(0, 255, 0);
}