<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>PrivateInformationStorage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'page/style.css' %}">
</head>
<body>
{% if page and page.image %}
    <img src="{{ page.image.url }}">
{% endif %}
{% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
    </form>
{% endif %}
{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% if time_left %}
    <p>Time left: {{ time_left }}</p>
{% endif %}
{% if visits %}
    <p>Visits count: {{ visits }}</p>
{% endif %}
</body>
</html>